/* PARK BUDDY */

body {
    background-color: blueviolet;
    margin: 0;
}

h1 {
    color: white;
}

/* styling container for map */
.container {
    height: 100vh;
    width: 100vw;
    margin: 20px;
}

.marker {
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;